# Handle when attrs removed deprecated attribute 'convert' used by gitea_client
attrs==19.1.0

arrow==0.10.0
boto3==1.4.4
coveralls==1.1
d43_aws_tools==1.0.4
future==0.16.0
gitea_client==1.0.9
grequests==0.3.0
markdown==2.6.8
mock==2.0.0
mutagen==1.38
python-dateutil==2.6.0
pyyaml==3.12
pytz==2017.2
resource_container==1.1
usfm-tools==0.0.13
